<h1>Editing enologist</h1>

<%= render "form", enologist: @enologist %>

<br>

<div>
  <%= link_to "Show this enologist", @enologist %> |
  <%= link_to "Back to enologists", enologists_path %>
</div>
